
.clear{clear:both;float:none !important;max-height: 0 !important;height: 0 !important;min-height: 0 !important; }

#tree {
    width:300px;
}

#tree .loading {
    margin: 30px 0;
    text-align: center;
}

#workspace #section-container {
    height:100%;
}

#workspace .section {
    visibility: hidden;
    width:0;
    height:0;
    overflow:hidden;
}
#workspace .section.active {
    display: block;
    visibility: visible;
    width:100%;
    height:100%;
}

#fullscreen-trigger {
    float: right;
}
#fullscreen-trigger .glyphicon {
    display: none;
    cursor: pointer;
}
#fullscreen-trigger:not(.active) .glyphicon.glyphicon-fullscreen {
    display: block;
}
#fullscreen-trigger.active .glyphicon.glyphicon-resize-small {
    display: block;
}

nav#tabs .progress {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 90%;
    height: 5px;
    margin:0 5%;
}

.nav-tabs>li.disabled>a:hover{
    border-color: transparent;
}

/*Bootstrap customization*/
.btn {
    border-radius: 0;
}

.nav-tabs>li:first-child>a, .nav-tabs>li.active:first-child>a:focus, .nav-tabs>li.active:first-child>a:hover  {
    border-left: 0;
}
.nav-tabs>li>a {
    border-radius: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-top: 2px solid #3498db;
}

.progress-bar.active, .progress.active .progress-bar {
    border-radius: 5px;
}

/*ui-layout customization*/
.ui-layout-pane {
    padding: 0;
}

/*Unity Player*/
div.broken,
div.missing {
    margin: auto;
    position: relative;
    top: 50%;
    width: 193px;
}
div.broken a,
div.missing a {
    height: 63px;
    position: relative;
    top: -31px;
}
div.broken img,
div.missing img {
    border-width: 0px;
}
div.broken {
    display: none;
}
div#unityPlayer {
    cursor: default;
    height: 100%;
    width: 100%;
}

/*Tree*/
#tree .glyphicon-type1{
    width: 0; 
    height: 0; 
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 8px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid orange;
}

#tree .glyphicon-type2{
    height: 20px;
    width: 12px;
    margin-top: 2px;
    margin-right: 14px;
    background-color: red;
}

#tree .glyphicon-type3{
    height: 20px;
    width: 22px;
    margin-top: 2px;
    margin-right: 4px;
    background-color: red;
}

/*Preview*/
#Preview #preview-canvas {
    border: none;
}